

{{!-- <img src="{{beersFromApi}}" alt=""> --}}

  {{> ranBeerPartial}}

    

{{!-- <img src="{{content.image_url}}" alt="">

<div>{{content.name}}</div>
<div>{{content.description}}</div>
<div>{{content.tagline}}</div> --}}

<div>{{content.food_pairing}}</div>
<div>{{content.brewers_tips}}</div>